@import '../../style/theme.scss';

.main-heading {
	min-height: calc(100vh - 100px);
	max-width: 800px;
	width: 60vw;
	margin-left: auto;
	margin-right: auto;

	.btn-cta {
		margin-top: 50px;
	}

	.scroll {
		margin-top: 60px;

		p {
			font-size: 1.4em;
			color: lighten($textSecondary, 20%);
		}

		svg {
			width: 50px;
			fill: #ffffff;

			margin-top: 15px;

			cursor: pointer;

			animation: move-thing 1s ease-in-out infinite alternate-reverse;
		}
	}
}

@keyframes move-thing {
	from {
		transform: translateY(5px);
	}

	to {
		transform: translateY(-5px);
	}
}

@media screen and (min-height: 700px) {
	.main-heading .scroll {
		margin-top: 160px;
	}
}

.features {
	min-height: calc(100vh - 40px);
	padding: 0 40px;

	background: $backgroundSecondary;

	.heading {
		padding-top: 75px;

		color: #ffffff !important;
		font-size: 2.8em;

		span {
			color: $textHeading;

			font-weight: 600;
		}
	}

	.feature-container {
		padding: 20px 0;
		display: grid;

		grid-template-columns: auto;
		row-gap: 10px;

		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;

		.feature {
			margin: 0 auto;
			padding-bottom: 30px;
			padding-top: 30px;
			max-width: 25vw;

			min-width: 200px;

			.sub-heading {
				font-size: 1.7em;
			}

			p {
				line-height: 1.4;
			}
		}
	}

	.cta {
		padding: 50px 0;
	}
}

@media only screen and (min-width: 550px) {
	.features .feature-container .feature {
		min-width: 250px;

		max-width: 300px;
	}

	.main-heading .heading {
		font-size: 5em;
	}

	.features .heading {
		font-size: 3.4em;
	}

	.page .description {
		font-size: 1.3em;
	}
}

@media only screen and (min-width: 900px) {
	.features .feature-container {
		grid-template-columns: auto auto;

		column-gap: 40px;

		.feature {
			min-width: 300px;

			max-width: 350px;
		}
	}

	.main-heading .heading {
		font-size: 7em;
	}

	.features .heading {
		font-size: 6.1em;
	}

	.page .description {
		font-size: 1.6em;
	}
}

.link {
	color: $textSecondary;
	text-decoration: none;
}
