@import '../../style/theme.scss';

.settings-form {
	.form {
		label {
			span {
				color: #fff;
			}
		}

		input {
			color: #fff;
		}

		.pt-30 {
			padding-top: 30px;
		}
		.pb-30 {
			padding-bottom: 30px;
		}
	}

	.active-host {
		text-align: center;
	}

	.styles {
		display: grid;

		grid-template-columns: auto;

		width: 100%;

		label {
			padding-top: 10px;
		}
	}

	.HIGHPRIORITYCHANNELLIST,
	.CHANNELLIST,
	.TEAMLIST,
	.HOST-MESSAGE,
	.HOST-MESSAGE-END,
	.SPECIFIC-GAMES,
	.REHOST-TIMEOUT,
	.OFFLINE-TIMEOUT {
		display: none;
		padding-top: 5px;
	}

	.channels-exclusion {
		user-select: none;

		li {
			cursor: default;
		}
	}

	.remove {
		cursor: pointer;
	}
}

@media screen and (min-width: 500px) {
	.settings-form .styles {
		grid-template-columns: auto auto;
	}
}

@media screen and (min-width: 700px) {
	.settings-form .styles {
		grid-template-columns: auto auto auto;
	}
}

input.valid[type=text]:not(.browser-default),
input.valid[type=text]:not(.browser-default):focus,
input.valid[type=number]:not(.browser-default),
input.valid[type=number]:not(.browser-default):focus,
.select-wrapper.valid > input.select-dropdown {
	border-bottom: 1px solid #03a9f4;
	-webkit-box-shadow: 0 1px 0 0 #03a9f4;
	box-shadow: 0 1px 0 0 #03a9f4;
}

.dropdown-content li > a,
.dropdown-content li > span {
	color: #03a9f4;
}

.select-wrapper input.select-dropdown:focus {
	border-bottom: 1px solid #03a9f4;
}
