@import './theme.scss';
@import './nav.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	padding: 0;
	margin: 0;
}

#root {
	min-height: 100vh;
	max-width: 100vw;
	background: $backgroundMain;
	color: $textMain;

	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}

.page {
	padding-top: 100px;
}

.heading {
	color: $textHeading;
	font-size: 3em;
	font-weight: 500;
}

.description {
	font-size: 1em;
}

.sub-heading {
	color: $textSecondary;
}

.btn-cta {
	color: $textMain;
	background: $blueGradient;

	&:hover {
		background: $blueGradientDarkened;
	}
}

.all-center {
	text-align: center;

	button {
		margin-left: auto;
		margin-right: auto;
	}
}

#toast-container {
	min-width: 10%;
	top: 5%;
	right: 50%;
	transform: translateX(50%) translateY(50%);
}

[type="checkbox"]:checked + span:not(.lever):before {
	border-right: 2px solid $blueMain !important;
	border-bottom: 2px solid $blueMain !important;
}

button:focus {
	background-color: transparent !important;
}
