nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	line-height: 1 !important;
	height: auto !important;

	z-index: 999;

	padding: 8px 16px;

	background: $blueGradientDarkened;
	background-size: 400%;
	background-position: left;

	animation: move-nav 20s alternate-reverse;

	.brand {
		font-size: 1.1em;
		font-weight: 500;

		float: left;
		padding: 4px 0;

		a {
			color: $textMain;
			text-decoration: none;
		}
	}

	.links {
		display: flex;
		float: right;

		.link {
			display: inline-block;
			font-size: 0.85em;
			cursor: pointer;
			color: inherit;
			text-decoration: none;

			padding: 4px 8px;
		}
	}

	.icon {
		display: flex;
		display: -webkit-flex;
		align-items: center;
		-webkit-align-items: center;
		justify-content: center;
		-webkit-justify-content: center;

		line-height: 1;

		svg {
			height: 16px;
			margin-right: 3px;
			vertical-align: middle;

			fill: #ffffff;
		}

		span {
			vertical-align: middle;
			display: none;
		}
	}
}

@keyframes move-nav {
	from {
		background-position: left;
	}

	to {
		background-position: right;
	}
}

@media screen and (min-width: 400px) {
	nav {
		.brand {
			font-size: 1.2em;
		}

		.links .link {
			font-size: 0.85em;
		}

		.icon svg {
			height: 16px;
		}

		.icon span {
			display: inline-block;
		}
	}
}

@media screen and (min-width: 550px) {
	nav {
		.brand {
			font-size: 1.5em;
		}

		.links .link {
			font-size: 1.15em;
		}

		.icon svg {
			height: 20px;
		}
	}
}
