$backgroundMain: #15171c;
$backgroundSecondary: #26282b;

$textMain: #ffffff;
$textSecondary: #5f85db;
$textHeading: #90b8f8;

$greenMain: #00e07b;
$greenSecondary: #00e0b1;

$greenGradient: linear-gradient(45deg, $greenMain, $greenSecondary);
$greenGradientDarkened: linear-gradient(45deg, darken($greenMain, 2%), darken($greenSecondary, 2%));

$blueMain: #5f85db;
$blueSecondary: #90b8f8;

$blueGradient: linear-gradient(45deg, $blueMain, $blueSecondary);
$blueGradientDarkened: linear-gradient(45deg, darken($blueMain, 2%), darken($blueSecondary, 2%));
