.form-container {
	font-family: Inter UI, Open Sans, Segoe UI, sans-serif;
	font-size: 16px;
	font-weight: 500;

	.row {
		max-width: 80vw;
	}

	form {
		width: 100%;
		max-width: 496px !important;
		padding: 0 15px;

		margin: 0 auto;
	}

	form > * + * {
		margin-top: 20px;
	}

	.container {
		width: 100%;
		background-color: #fff;
		box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
		border-radius: 4px;
		padding: 3px;

		margin-bottom: 10px;
	}

	fieldset {
		border-style: none;
		padding: 5px;
		margin-left: -5px;
		margin-right: -5px;
		border-radius: 8px;
	}

	fieldset legend {
		float: left;
		width: 100%;
		text-align: center;
		font-size: 13px;
		color: #fff;
		padding: 3px 10px 7px;
	}

	.card-only {
		display: block;
	}

	.payment-request-available {
		display: none;
	}

	fieldset legend + * {
		clear: both;
	}

	input,
	button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: none;
		border-style: none;
		color: #fff;
	}

	input:-webkit-autofill {
		transition: background-color 100000000s;
		-webkit-animation: 1ms void-animation-out;
	}

	#card {
		padding: 10px;
		margin-bottom: 2px;
	}

	input {
		-webkit-animation: 1ms void-animation-out;
	}

	input::-webkit-input-placeholder {
		color: #9bacc8;
	}

	input::-moz-placeholder {
		color: #9bacc8;
	}

	input:-ms-input-placeholder {
		color: #9bacc8;
	}

	button {
		display: block;
		width: 100%;
		height: 37px;
		background-color: #4f7cdd;
		border-radius: 2px;
		color: #fff;
		cursor: pointer;
	}

	button:active {
		background-color: #5ca8f0;
	}
}

h3.heading {
	font-size: 40px !important;
}

@media only screen and (min-width: 500px) {
	h3.heading {
		font-size: 60px !important;
	}
}

@media only screen and (min-width: 800px) {
	h3.heading {
		font-size: 80px !important;
	}
}

.btn {
	margin-top: 40px;
}
